body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
h2 {
  color: coffe;
}
h3 {
  color: orange;
}
h4 {
  color: purple;
}
h5 {
  color: pistacho;
}
h6 {
  color: green;
} 
p {
  color: red;
}