table, th, td {
    border: 1px solid black;
    font-family: arial, sans-serif;
    text-align: center;
  }
body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
td {
    text-align: left;
}